transformers==4.41.1
datasets==2.19.1
accelerate==0.27.2
peft==0.11.1
trl==0.8.1
torch==2.3.0
gradio>=4.0.0
scipy
einops
sentencepiece
protobuf
uvicorn
pydantic
fastapi
sse-starlette
matplotlib>=3.7.0
fire
packaging
pyyaml
